body{
    font-family: 'Times New Roman';
    color: aliceblue;
    padding-left: 5%;
    text-align: left;
    align-items: left;
    background-image: url(https://preview.redd.it/monke-the-one-that-couldnt-be-shaved-v0-qrjrc3sq04e91.png?auto=webp&s=56c7d5f98c04cc005cfd529e2f388fc5d4f60880);
    background-size: cover;
    background-repeat: no-repeat;
}   

.title1{
    color: aquamarine;
    font-family: Arial;
    text-align: left;
}

.format_div1{
    line-height: 1;
}

.format_div2{
    line-height: 1.5;
}
